<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Brett">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
  </head>

<body>

	<header class="menu row">
		<div class="col-xs-offset-1 col-xs-4 logo">
			<text>yoso</text>
		</div>
		<div class="col-xs-6 nav signup">
    	<a href="/signup" class="signup-link">sign up</a>
		</div>
	</header>

	<div class="main">
  <form class="" action="/login" method="post" accept-charset="UTF-8" role="form">
		<input class="col-xs-offset-1 col-xs-10 email" placeholder="email" name="email" type="text">
		<input class="password col-xs-offset-1 col-xs-10" placeholder="password" name="password" type="password" value="">
		{{#if param}}
			<div class="form-group has-error">
				<p style="color:red" class="error-msg">{{param}}: {{msg}}</p>
			</div>
		{{/if}}
		<div class="checkbox col-xs-offset-1 col-xs-10">
				<input name="rememberme" type="checkbox" value="keep me logged in"> Keep me logged in
    </div>
		<input class="col-xs-offset-1 col-xs-10 signin-button" type="submit" value="log in">
		<a class="col-xs-offset-1 col-xs-10 forgot" href="#"> Forgot Your Password? </a>
	</form>
	</div>


      
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="js/bootstrap.js"></script>


</body>
</html>
